body{
    font-size: 16px;
    line-height: 1.3125;
    font-family: 'gentonabook';
}
h3{
    font-family: 'gentonathin';
    font-size: 1.3125em;
    line-height: 1;
    margin: 2em 0;
}
p{
    line-height: 1.3125;
    margin: 1.3125em 0;
}
pre{
    display: inline;
}
#page{
    /*padding-top: 4em;*/
    width: 1200px;
    margin: 0 auto;
    background: url(../img/baseline.png);

}
.number{
    /*display: inline-block;*/
    width: 51%;
}
.container{
    margin: 0 auto;
    border: 1px solid #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
img{
    opacity: 0.5;
}
.cont-1{
    height: 200px;

}
.cont-2{
    width: 300px;
    height: 400px;
}
.cont-3{
    width: 200px;
    height: 200px;
}
.cont-4{
    height: 200px;
    width: 350px;
}
.cont-5{
    width: 450px;
    height: 400px;
}
.cont-6{
    height: 400px;
    width: 550px;
}